<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.fruitfruit.web.product.ProductMapper">
    <insert id="addProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO product
        (
            category_id,
            name,
            price,
            discount_rate,
            status,
            stock_quantity,
            content,
            created_at,
            updated_at
        )
        VALUES
            (
                #{form.categoryId},
                #{form.name},
                #{form.price},
                #{form.discountRate},
                1,
                #{form.stockQuantity},
                #{form.content},
                NOW(),
                NOW()
            )
    </insert>

    <!-- 상품 이미지 추가 -->
    <insert id="addProductImage" keyProperty="id">
        INSERT INTO product_image
        (
            product_id,
            file_name,
            file_path,
            url,
            created_at,
            updated_at
        )
        VALUES
            (
                #{image.productId},
                #{image.fileName},
                #{image.filePath},
                #{image.url},
                NOW(),
                NOW()
            )
    </insert>
</mapper>