<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.fruitfruit.web.user.UserMapper">

    <!-- user 테이블 전체 컬럼 -->
    <sql id="userColumns">
        email,
        nickname,
        password,
        status,
        created_at,
        updated_at
    </sql>

    <!-- term 테이블 전체 컬럼 -->
    <sql id="termColumns">
        title,
        content,
        required,
        created_at,
        updated_at
    </sql>

    <!-- user_term 테이블 전체 컬럼 -->
    <sql id="userTermColumns">
        user_id,
        term_id
    </sql>

    <!-- user -->
    <insert id="joinUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
            (<include refid="userColumns"/>)
        VALUES (
            #{email},
            #{nickname},
            #{password},
            1,
            NOW(),
            NOW()
        )
    </insert>

    <!-- 회원-약관 맵핑 -->
    <insert id="joinUserTerm">
        INSERT INTO user_term
            (<include refid="userTermColumns"/>)
        VALUES (
            #{userId},
            (SELECT id FROM term WHERE title = #{termTitle})
        )
    </insert>

    <!-- 회원 로그인 Sql -->
    <select id="login" parameterType="com.shop.fruitfruit.web.user.UserLoginForm" resultType="com.shop.fruitfruit.domain.user.User">
        SELECT
            id,
            email,
            nickname,
            password,
            status,
            created_at,
            updated_at
        FROM
            user
        WHERE
            email = #{loginId} AND password = #{password}
    </select>

    <!-- 이메일 중복 확인 -->
    <select id="existsByEmail" resultType="java.lang.Boolean">
        SELECT
            COUNT(*) > 0
        FROM
            user
        WHERE email = #{email}
    </select>

    <!-- 닉네임 중복 확인 -->
    <select id="existsByNickname" resultType="java.lang.Boolean">
        SELECT
            COUNT(*) > 0
        FROM
            user
        WHERE nickname = #{nickname}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="updatePassword">
        UPDATE
            user
        SET
            password = #{password}
        WHERE
            email = #{email}
    </update>
</mapper>