<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<footer id="footer" th:fragment="copy">
    <div class="inner">
        <h1>
            <img src="/user/img/푸릇푸릇%20로고.png" alt="로고">
        </h1>
        <ul>
            <li>
                <a href="#">Policy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">Customer</a>
            </li>
            <li>
                <a href="#">Contact us</a>
            </li>
        </ul>

        <address>
        </address>

        <p>
            Copyright &copy; 2023 Fruit. ALL Right reserved.
        </p>
    </div>
</footer>
</body>
</html>